#!/usr/bin/make -f

# Verbose mode
#export DH_VERBOSE=1
export MASTER_HEAD=`git log -1 --format=%h master`
export DEVELOPMENT_HEAD=`git log -1 --format=%h development`
export CHANGELOGENTRY="$(VERSION_STRING)"


DEB_PYTHON_SYSTEM=pysupport

#export DH_VERBOSE=1

%:
	dh $@

# If you want to run an automated build (for something like Jenkins), 
# this is the thing for you.  Just run:
#
#   debian/rules automated-build
#
automated-build:
	# Make a backup of the upstream debian/control
	cp -av debian/control debian/control.pristine

	# Add the current git hash to the Description field of the package
	sed -i "s/^Description: .*$$/& (master: $(MASTER_HEAD) development: $(DEVELOPMENT_HEAD))/" debian/control

	# Update the changelog
	dch -v $(CHANGELOGENTRY) "Automated build called via debian/rules automated-build."

	# Clean up
	dh clean

	# Drop in the full git log as well as the last commit
	git log --decorate=full --oneline | gzip -9vc > fullgitlog-reddwarf.gz
	git log -n 1 > lastcommit-reddwarf.txt

	# Build it
	dh build --with python2
	fakeroot dh binary --with python2

	# Put the upstream debian/control back in place
	mv -v debian/control.pristine debian/control

override_dh_auto_build: 
	bjam -d+2 release link=static nova-guest
	#dh_auto_build